:root{
  --main-color: #009efb;
  --second-color: #333;
  --white-color: #fff;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.text-color{
  color: #e74a3b;
  cursor: pointer;
}

.text-color-blue{
  color: var(--main-color);
  cursor: pointer;
}

.text-color-black{
  color: #333;
  cursor: pointer;
}
 
.bg-blue{
  background-color: #e6f6ff;  
}

.spaceUnder {
  padding-bottom: 1em;
}

.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


.btn.btn-pagination {
  display: inline-block;
  font-size: 15px;
  color: #333;
  background: #e3e6f0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem !important;
  text-align: center;
}

.btn.btn-pagination:hover{
  background: #dee2ed;
  color: #333;
}



/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */


.btn.btn-primary {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem !important;
    text-align: center;
}

.btn.btn-primary:hover{
  background: #99ceff;
  color: #333;
}

.btn-info {
  color: #333;
  background-color: #e3e6f0;
  border-color: #fff;
}

.btn-info:hover {
  color: #333;
  background-color: #eef0f6;
  border-color: #fff;
}

.btn-outline-info {
  background-color: transparent;
  /* color: #99ceff;
  border-color: #99ceff; */
}

.btn.btn-blue {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  background: #009efb;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem !important;
  text-align: center;
}

.btn.btn.btn-blue:hover{
background: #99daff;
color: #333;
}

.btn.btn-secondary {
  display: inline-block;
  font-size: 15px;
  color: #333;
  background: #e3e6f0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem !important;
  text-align: center;
}

.btn.btn-secondary:hover{
  background: #eef0f6;
  color: #333;
}




  

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    background: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 0;
    
    
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.35rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: 50% / 100% 100% no-repeat;
}

.navbar-nav-scroll {
  max-height: 75vh;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #333;
    margin: 40px 0;
}

.topbar {
  height: 4.375rem;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    position: relative;
    width: 100%;
}
#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}

#sidebar {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: var(--main-color);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--main-color);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #333;
    background: var(--white-color);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #333;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.dropdown.no-arrow .dropdown-toggle::after {
  display: none;
}



ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #333;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}








/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}








  /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .fade {
      -webkit-transition: none;
      transition: none;
    }
  }







  









  